//Fonts
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;800&display=swap");

//Variables
@import "./variables/colors";
@import "./variables/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Karla", sans-serif;
  font-size: 10px;
}

.main-container {
  @include flex;

  width: 100vw;
  height: 100vh;
  background-color: $black;

  .secondary-container {
    width: 55rem;
    height: 55rem;
    background-color: $dark-blue;
    border-radius: 2rem;

    .top-sector {
      margin: 5.5rem 12.6rem 0 5.2rem;

      .title-sentence-white {
        margin-bottom: 1rem;
        font-size: 4rem;
        font-weight: 800;
        color: $white;
      }

      .title-sentence-green {
        margin-bottom: 1rem;
        font-size: 4rem;
        font-weight: 800;
        color: $green1;
      }

      .phrase {
        margin-bottom: 1rem;
        font-size: 2rem;
        font-weight: 400;
        color: $light-grey;
      }
    }

    .middle-sector {
      margin: 5.1rem 5.2rem 0 5.2rem;

      .generate-passwords {
        width: 19.1rem;
        height: 4.2rem;
        padding: 0.9rem 1.7rem 0.9rem 1.5rem;
        border: none;
        border-radius: 0.6rem;
        color: $white;
        background-color: $green2;
        font-size: 1.6rem;
        font-weight: 500;
      }
      .top-middle-sector {
        @include flex($justify: space-between);

        .checkbox-container {
          @include flex($justify: default);

          width: auto;
          height: 2rem;
          margin-bottom: 0.5rem;
          color: $white;
          font-size: 1.6rem;
          font-weight: 500;

          input {
            width: 1.4rem;
            height: 1.4rem;
            margin-right: 1rem;
            color: $black;
          }
        }
      }
      .input-range-div {
        @include flex($direction: column);

        margin-top: 2.5rem;
        color: $white;
        font-size: 1.6rem;
        font-weight: 500;

        .input-display {
          align-self: flex-start;
          margin: 1rem 0rem 1rem 5rem;
        }
        .line {
          width: 34.6rem;
          border-bottom: 0.1rem solid $fine-blue;
        }
      }
    }

    .bottom-sector {
      @include flex($justify: space-between);

      width: 44.6rem;
      height: 3.9rem;
      margin: 3.5rem 5.2rem 2rem 5.2rem;

      .output {
        @include flex;

        width: 21.1rem;
        height: 3.9rem;
        background-color: $medium-blue;
        border-radius: 0.6rem;
        color: $green3;
        font-size: 1.6rem;
        font-weight: 500;
      }
    }
    .button-sector {
      @include flex($justify: space-around);
      margin: 2rem 5.2rem 0 5.2rem;

      .copy-btn {
        width: 10rem;
        height: 3.5rem;
        padding: 0.9rem 1.7rem 0.9rem 1.5rem;
        border: none;
        border-radius: 0.6rem;
        color: $white;
        background-color: $green2;
        font-size: 1.6rem;
        font-weight: 500;
      }
    }
  }
}
